Package: oipa-upload-cli
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: openjdk-8-jre | sun-java8-jre | openjdk-9-jre | sun-java9-jre
Maintainer: Jerome Bridge <jeromebridge@pennassurancesoftware.com>
Description: OIPA Upload Command Line Interface
Distribution: development